body{
    margin: 0;
}

.loggo{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 1%;
    background-color:  #22A39F ;
}
navbar-brand{
    color:  #22A39F ;
}
.camnico{
    position: absolute;
    top: 1.1rem;
    left: 2.5rem;
    
}
.searchbar{
   width: 55rem;
   position: absolute;
   top: 0.5rem;
   right: 10rem;
}
.navbar{
    background-color: #22A39F;
}
.searbut{
    position: absolute;
    top: 0.5rem;
   right: 5rem;
   background-color: #9edcdb;
}
.bg{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;  
    height: 43rem;
    width: 93rem;
    opacity: 0.4;
    


}

